@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
$buttonBackground: #e6a859;
$titleColor: #534847;
@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin headerFont($weight: 500, $color: black) {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: 16px;
    line-height: 24px;
    color: $color;
}
@mixin title($size, $lineHeight) {
    font-size: $size;
    font-style: normal;
    font-weight: bold;
    font-family: Raleway;
    color: $titleColor;
    line-height: $lineHeight;
}
@mixin readmore($size) {
    font-size: $size;
    line-height: 21px;
    color: #e2b84c;
    font-weight: normal;
    font-style: normal;
}
@mixin button($width: 220px) {
    width: 220px;
    height: 47px;
    background: #e6a859;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
}
.header {
    margin: 54px 0;

    .header-right {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 165px;
    }
    .header-right_items {
        margin-right: 18px;
        @include headerFont;
    }
    .header-right_items:last-child {
        width: 117px;
        height: 40px;
        background: $buttonBackground;
        color: white;
        @include flex;
    }
}
.section-1 {
    display: flex;
    .section-1-text {
        margin-left: 160px;
        margin-right: 15px;
    }
    .section-1-title {
        @include title(55px, 65px);
        span {
            font-size: 55px;
            font-style: normal;
            font-family: Raleway;
            line-height: 65px;
            font-weight: bold;
            color: #e2b84c;
        }
        margin-bottom: 34px;
    }
    .section-1-description {
        @include headerFont(normal);
        margin-bottom: 19px;
    }
    .section-1-read-more {
        @include readmore(14px);
    }
    .section-image {
        img {
            position: relative;
            border-radius: 50px 0 0 0;
            width: 595px;
        }
    }
    .section-image-btn {
        @include flex;
        background: #f9f9f9;
        position: absolute;
        left: 1026px;
        top: 811px;
        width: 323px;
        height: 89px;
    }
    .section-image-btn img {
        width: 19px;
        height: 8px;
    }
    .circle-position {
        position: absolute;
        left: -45px;
        right: 900px;
        top: 120px;
    }
    .circles-position {
        width: 225px;
        height: 225px;
        position: absolute;
        left: 20px;
        top: 555px;
    }
}
.section-2 {
    margin-top: 160px;
    display: flex;
    justify-content: space-evenly;

    .section-2-title {
        @include title(40px, 47px);
    }
    .section-2-description_items {
        @include headerFont(normal, #8d8180);
        margin-bottom: 30px;
        width: 600px;
    }
    .section-2-read-more {
        @include readmore(16px);
    }
    .section-2-description_items:last-child {
        color: #e4a655;
        text-align: end;
    }
    .circles-2 {
        position: absolute;
        left: 150px;
        top: 1455px;
    }
}
.section-3 {
    margin-top: 550px;
    display: flex;
    flex-direction: column;
    .section-3-top {
        display: flex;
    }
    .item-img {
        width: 651px;
        height: 498px;
    }
    .item-text {
        margin-left: 128px;
        margin-right: 38px;
    }
    .img2 {
        width: 650px;
    }
    .section-3-title {
        @include title(40px, 47px);
        margin: 47px 0;
    }
    .section-3-description {
        @include headerFont(normal, #8d8180);
        margin-bottom: 75px;
    }
    .section-3-bottom {
        display: flex;
    }
    .btn-learn-more {
        @include button();
    }
    .background-absolute {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 1740px;
    }
    .background-absolute2 {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 2358px;
    }
}
.section-4 {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    .section-4-title {
        @include flex();
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: #534847;
    }
    .section-4-svg {
        margin-top: 90px;
        @include flex();
    }
    .section-4-svg_blocks {
        margin-right: 120px;
    }
    .svg-block {
        @include flex();
    }
    .block-title {
        margin-top: 65px;
        text-align: center;
        @include headerFont(bold, #534847);
    }
    .block-desc {
        text-align: center;
        margin-top: 16px;
        @include headerFont(normal, #8d8180);
    }
}
.section-5 {
    .section-5-title {
        @include title(30px, 35px);
        @include flex();
        margin-top: 70px;
    }
    .section-5-images {
        display: flex;
        justify-content: center;
    }
    .img-block {
        margin-right: 40px;
        position: relative;
    }
    .img-block img {
        width: 300px;
        height: 340px;
        margin: 40px 0;
    }
    .buttin-white {
        @include flex();
        position: absolute;
        width: 149px;
        height: 55px;
        left: 0;
        bottom: 40px;
        background: #f9f9f9;
    }
}
.section-6 {
    @include flex();
    // padding: 60px 0;
    flex-direction: column;
    position: relative;
    padding: 60px 0;
    .sec-6-2 {
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin: 40px 0;
    }
    .section-6-title {
        @include title(36px, 30px);
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .yellow-text {
        @include readmore(16px);
    }
    .desc {
        @include headerFont(normal, #8d8180);
    }

    .section-6-img .img-6 {
        text-align: center;
    }
    .background-absolute6 {
        position: absolute;
        top: 30px;
        left: 0;
        z-index: -1;
        width: 1198.09px;
        height: 662px;
    }
    .circles-6 {
        position: absolute;
        right: 10px;
        bottom: 340px;
        z-index: -1;
    }
}
.footer {
    width: 100%;
    background: #282322;
    color: white;

    .footer-top {
        display: flex;
        justify-content: space-between;
    }
    .footer-top_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .items-title {
        @include headerFont(600, white);
    }

    .items-description {
        @include headerFont($color: white);
        text-align: start;
    }
    .items-auth {
        button {
            @include button(289px);
            width: 289px;
            height: 47px;
            border: none;
        }
        input {
            width: 289px;
            border: none;
            height: 47px;
            color: #534847;
            background: white;
            text-align: center;
        }
        .auth-text {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
        .auth-items {
            margin-bottom: 10px;
        }
    }

    .footer-bottom_center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .center-bottom {
        margin-top: 25px;
        display: flex;
    }
    .items-auth {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .center-bottom_items {
        display: flex;
        flex-direction: column;
        font-style: 20px;
        margin-right: 45px;
        color: rgba(255, 255, 255, 0.6);
    }
}
